:root {
    --color-primario: #d6ca8d;
    --color-sec: #f2f2c5;
    --color-ter: #070108;
    --color-cuarto: #F2F2F2;
    --color-quinto: #0D0D0D;
}

.body {
    margin: 0;
    padding: 0;
}

.todo {
    display: flex;
    flex-direction: column;
}

.menu_lista_idem {
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.menu_lista_idem a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 5px;
}

.about_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: center;
}

.about_container img {
    width: 11rem;
}

.about_titulo {
    font-size: 2rem;
    text-align: center;
    color: var(--color-cuarto);
}

.about_parrafo {
    font-size: 1.5rem;
    text-align: justify;
    color: var(--color-cuarto);
}

@media (max-width:480px) {
    .about_container {
        width: 100%;
    }

    .about_titulo {
        font-size: 1.5rem;
    }

    .about_parrafo {
        font-size: .9rem;
    }
}

.about {
    padding: 2rem ;
    background-color: var(--color-ter);
}

.menu_header {
    text-align: left;
}

.menu_header img {
    max-width: 60%;
    height: auto;;
    border-radius: 15%;
}

@media (max-width: 425px) {
    .menu_header img {
        height: 1.2rem;
    }
}
.menu-nav {
    margin-top: 0;
}

.menu_lista {
    width: 50%;
    flex-direction: row;
    display: flex;
    gap: 5px;
    color: #fff;
    }


.menu_lista_item,
.menu_lista_item_contacto {
    color: #fff;
    flex: 1;
    justify-content: center;
}


.menu_lista_item:hover,
.menu_lista_item_contacto:hover {
    color: var(--color-primario);
}

.menu_lista_item_contacto {
    display: none;
}

@media screen and (max-width: 475) {
    .todo {
    flex-direction: row
    }
    
    .menu {
    flex: 1;
    padding: 20px 10px;
    }
    .menu-nav {
    margin-top: 0;
    }
    .menu_lista {
    flex-direction: column;
    gap: 10px;
    }

    .menu_lista_idem {
    flex: 1;
    justify-content: center;
    }

    .menu_lista_idem_contacto {
        display: block;
        font-weight: bold;
    }
}

@media (max-width: 425px) {
    .menu_lista_item_contacto {
        font-weight: 500;
        font-size: .6rem;
    }
}

.menu {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-between;
    padding: 20px;
}
@media (max-width:425px) {
    .menu{
        padding: 0.5rem 1rem;
        flex: 1;
    }
}

.titulo_perfil {
    width: 18rem;
    border-radius: 35px;
}

@media (max-width: 768px) {
    .titulo_perfil {
    width: 12rem;
    }
}
 
@media (max-width: 425px) {
    .titulo_perfil {
    width: 8rem;
    margin-bottom: 1rem;
    }
}

.titulo_div {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--color-cuarto);
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
@media (max-width:425px){
.titulo_div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }
}

.titulo_bio {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.titulo_subseccion {

    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.redes_item {
    display: flex;
    gap: 2rem;
}

.redes_item:hover {
    color: var(--color-sec);
}

@media (max-width: 768px) {
    .titulo_bio {
        font-size: 1.8rem;
    }

    .titulo_subseccion {
        font-size: 1rem;
    }

    .redes_item {
        font-size: .9rem;
    }
}

@media (max-width:425px) {
    .titulo_bio {
        font-size: 1.2rem;
    }
}

.menu {
    display: flex;
    background-color: var(--color-sec);
    justify-content: space-between;
    padding: 1rem 2rem;
}
@media (max-width:425px) {
    .menu{
        padding: 0.5rem 1rem;
    }
}

.footer {
    padding: 5rem;
    text-align: center;
}

.skills {
    padding: 2rem;
    background-color: var(--color-cuarto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills_titulo {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.skills_line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.skills_box {
    position: flex;
    width: 15%;
    height: 25%;
    background-color: white;
    padding: 1rem;
}

.skills_img img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.skills_name {
    font-weight: bold;
    margin-top: .5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .skills_line {
        justify-content: center;
    }

.skills_box {
        width: 25%;
        height: 7rem;
        margin: 1rem;
    }
}

@media (max-width: 425px) {
.skills_line {
    gap: 1rem;
    }

.skills_box {
        width: 40%;
        margin: 0;
        padding: .5rem;
    }
}

.hobbies {
    padding: 2rem;
    background-color: var(--color-cuarto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hobbies_titulo {
    font-size: 2rem;
    margin-bottom: 2rem;
}


.hobbies_img img{
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hobbies_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.hobbies_box {
    position: flex;
    width: 15%;
    height: 10rem;
    background-color: white;
    padding: 1rem;

}

.hobbies_box ul {
    position: absolute;
    bottom: 1rem;
}

.hobbies_name {
    font-weight: bold;
    margin-top: .5rem;
    text-align: center;
}

@media (max-width: 768px) {
.hobbies_line {
    justify-content: center;
    }

.hobbies_box {
        width: 25%;
        height: 7rem;
        margin: 1rem;
    }
}

@media (max-width: 425px) {
    .hobbies_line {
        gap: 1rem;
    }

    .hobbies_box {
        width: 40%;
        margin: 0;
        padding: .5rem;
    }
}

.experience {
    background-color: var(--color-cuarto);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience_section_title {
    font-size: 2rem;
    margin-bottom: 2rem;

}

.experiencie_box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.experiencie_box:nth-child(3),
.experiencie_box:nth-child(5) {
    flex-direction: row-reverse;
}

.experience_img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 30px;
    margin: 20px;
}

.experience_title {
    font-size: 1.5rem;
}

.experience_text {
    font-weight: normal;
    font-size: 1rem;
}

.experience_info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.experiencia_boton--repo,
.experience_boton--demo {
    padding: 2rem;
    color: negro;
    background-color: #fff;
    border: 5px solid var(--color-sec);
    cursor: pointer;
}

.experiencia_boton--repo:hover,
.experience_boton--demo:hover {
    color: #fff;
    background-color: var(--color-ter);
    border: 2px solid var(--color-ter);
}

@media (max-width: 768px) {
    .experiencie_box {
        flex-direction: column;
        align-items: flex-start;
    }

    .experiencie_box:nth-child(3),
    .experiencie_box:nth-child(5) {
        flex-direction: column;
    }

    .experience_img {
        width: 100%;
    }
}

.academica {
    padding: 2rem;
    background-color: rgb(11, 19, 128);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.academica_title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-cuarto);
    list-style-type: none;
}

.academica_courses {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.academica_courses_box {
    width: 40%;
}

.academica_courses_item_img {
    background-color: #fff;
    padding: 2rem;
    width: 75%;
    position: relative;
    object-fit: cover;
    object-position: center;
    }

.academica_courses_item_img img {
    width: 50%;
    height: 40vh;
    margin: auto;
    display: block;
}

.academica_courses_item_title h3,
.academica_courses_item_subtitle p {
    margin-top: 0.5rem;
    color: var(--color-cuarto);
    font-size: 24px;
    list-style-type: none;
}

@media (max-width:425px) {
    .academica_courses {
        flex-direction: column;
        gap: 2rem;
    }

    .academica_courses_box {
        width: 100%;
    }
}

.formcontacto {
    background-color: var(--color-primario);
    padding: 4rem 2rem;
}

.formcontacto_contacto {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    justify-content: space-between;
    position: relative;
}

@media (max-width:768px) {
    .formcontacto {
        padding: 2rem;
    }

    .formcontacto_contacto {
        padding-top: 0;
    }
}

.formcontacto--esquerda {
    width: 45%;
    margin: auto;
    position: relative;
}
.formcontacto_img{
    width:80%;
 margin: auto;
 display: block;
}
@media (max-width: 768px){
    .formcontacto--esquerda{
        display: none;
    }
}

.formcontacto_text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formcontacto_title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.formcontacto_subtext {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .3rem;
}

.formcontacto_form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.input {
    position: relative;
}

.formcontacto_input,
.formcontacto_textarea {
    padding: 1rem;
    width: 100%;
}

.validar-estado {
    position: absolute;
    font-size: 1rem;
    right: 0;
    color: var(--color-sec);
    opacity: 0;
}
.incorrecto .validar-estado{
    opacity: 1;
}
.correcto .validar-estado{
    opacity: 1;
    color: green;
}

.formcontacto_textarea {
    resize: none;
}

.formcontacto_input:hover,
.formcontacto_textarea:hover {
    border-bottom: 2px solid var(--color-sec);
}

.formcontacto_boton {
    width: 25%;
    padding: .8rem;
    color: var(--color-sec);
    background-color: #fff;
    border: 1px solid var(--color-sec);
    cursor: pointer;
}

.formcontacto_boton:hover {
    color: #fff;
    background-color: var(--color-sec);
    border: 1px solid var(--color-sec);
}

@media (max-width: 475px) {
    .formcontacto_text {
        width: 100%;
    }

}

@media (max-width:425px) {
    .formcontacto_boton {
        width: 45%;
    }
}